{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <div class="container login-container">
                    <div class="row">
                        <div class="col-md-6 login-form-1">
                            <h3>Seu Cadastro</h3>
                            <form action={% url 'cadastro' %} method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Seu nome" value="" name="username" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Seu Email" value="" name="email" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Sua senha" value="" name="senha" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btnSubmit" value="Registre-se" />
                                </div>
                                <div class="form-group">
                                    <a href="{% url 'login' %}" class="ForgetPwd" value="Login">Já possui cadastro?</a>
                                    <a href="{% url 'index' %}" class="ForgetPwd" value="Login"><br><br>Logout</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        <script src="" async defer></script>
    </body>
</html>